body {
  margin: 0px;
}

.header_holder {
  height: 400px;
  background-image: url('/images/layout/header-repeat.png') ;
  background-repeat: repeat-x;
  padding:  0px;
}

.header_center{
  position:relative;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

img.header{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  width: 100.5%;
}

img.button_no_user_1 {
  left: 550px;
  position: absolute;
  top: 30px;
}

img.button_no_user_2 {
  left: 750px;
  position: absolute;
  top: 30px;
}

img.button_top_1{
  left: 490px;
  position: absolute;
  top: 30px;
}

img.button_top_2{
  left: 610px;
  position: absolute;
  top: 30px;
}

img.button_top_3{
  left: 770px;
  position: absolute;
  top: 30px;
}

.main_holder {
  max-width:1200px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

img.button_bottom_1{
  left: 490px;
  position: absolute;
  top: 100px;
}

img.button_bottom_2{
  left: 715px;
  position: absolute;
  top: 100px;
}

.message_holder{
  left: 520px;
  position: absolute;
  top: 190px;
  width:480px;
  height:200px;
  font-size:35px;
}

.flash_notice{
  color:#44AA44;
}

.flash_error{
  color:#AA4444;
}


p {
  margin: 0px;
}

/* layout and menu*/

.menu{
  width:1200px;
  border-bottom: 1px solid red;
  min-height: 30px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

h4.menu_title {
  line-height: 20px;
  margin: 2px;
}

span.menu_item {
  margin: 0px 4px 0px 0px;
}

/* forms */

form {
  width:100%;
}

form > p {
  width:100%;
  margin: 0px;
}

form > br {
   display: block;
   margin: 2px;
}

label {
  display: inline-block;
  font-weight: bold;
  padding: 4px 0px 4px 0px;
  width: 250px;
  position:relative;
  float:left;
}

.field_with_errors{
  background-color:#ff5555;
}

.box_full {
  width: 100%;
  border:  solid 2px black;
}

.box_left {
  position: relative;
  float: left;
  width: 60%;
  border:  solid 2px black;
  margin-left:-2px;
}

.box_right {
  position: relative;
  float: right;
  width: 38%;
  border:  solid 2px black;
  margin-right:-2px;
}

.box_report {
  font-align: center;
}

table.box_report tbody tr td {
  text-align: center;
}

table.timeline{

}


table.timeline tbody.current tr td {
  text-align: center;
}

table.timeline tbody.current tr td img {
  text-align: center;
  vertical-align:middle;
}


table.timeline tbody.current tr.strike{
  text-decoration:line-through;

}