<h1>Absences</h1>

<table class='overview'>
  <thead>
    <tr>
      <% ['User', 'Start','End','Type','Status','Days','Reason'].each do |header| %>
        <th><%=header%></th>
      <% end  %>
    </tr>
  </thead>
  <tbody>
    <% @absences.each do |absence| %>
      <tr>
        <td><%= link_to absence.user.name, absence_path(absence) %></td>
        <% ['start_time','end_time','variety','status','days','reason'].each do |attribute| %>
          <td><%= attribute_display(absence,attribute) %></td>
        <% end  %>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :menu do %>
  <%= menu_items(absence_menu()) %>
<% end %>